CiaoWS/xml-resources/web-service-references/CiaoVecio/wsdl/localhost_8080/WS1/CiaoVecio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://CiaoVecioPkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CiaoVecioPkg/">

<xs:element name="ciaoVecio" type="tns:ciaoVecio"/>

<xs:element name="ciaoVecioResponse" type="tns:ciaoVecioResponse"/>

<xs:element name="somma" type="tns:somma"/>

<xs:element name="sommaResponse" type="tns:sommaResponse"/>

<xs:complexType name="ciaoVecio">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciaoVecioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somma">
<xs:sequence>
<xs:element name="a" type="xs:int"/>
<xs:element name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sommaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>